.project-details {
    padding: 2em;
}

.project-details h1, h2, p{
    margin-bottom: 0.5em;
}

.project-details h1{
    background-color: #222;
    color: #ffbb33;
    padding: 0.4em;
}

.project-details span{
    font-weight: bold;
}

.details-container, .service-container {
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


    .btn{
        background-color: #222;
        color: #fff;
        padding: 0.5em 1em;
        text-decoration: none;
        transition: 0.5s;
        cursor: pointer;
        max-height: 40px;
        border: none;
    }
    
    .btn:hover{
        color: #ffbb33;
    }

    .project-info{
        width: 100%;
    }

