.project-card{
    padding: 1em;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 24%;
    margin: 0.5%;
}

.project-card h4{
    background-color: #222;
    color: #ffbb33;
    padding: 0.4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}

.project-card p{
    color: #7a7a7a;
    margin-bottom: 1em;
}

.project-card p span{
    font-weight: bold;
}


.category-text{
    display: flex;
    align-items: center;
}

.category-text span{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    /* background-color: #ccc; */
    margin-right: 5px;
}


.category-text .infra{
    background-color: #ffae3c;
}
.category-text .desenvolvimento{
    background-color: #a0e7e5;
}
.category-text .design{
    background-color: #84f8c8;
}
.category-text .planejamento{
    background-color: #fb37c6;
}

.project-card-actions{
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}

.project-card-actions a, .project-card-actions button{
    text-decoration: none;
    /* border: none; */
    background-color: #fff;
    color: #222;
    font-size: .9em;
    padding: .6em 1em;
    margin-right: 1em;
    cursor: pointer;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.project-card-actions svg{
    margin-right: .5em;
}

.project-card-actions a:hover, .project-card-actions button:hover{
    background-color: #222;
    color: #ffbb33;
}